<% provide(:title, "À propos") %>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Qui sommes-nous ?</h1>
      <p>Code For Mali croit fort dans l'importance des nouvelles technologies et l'engagement des citoyens pour améliorer la vie de nos concitoyens.</p>
    </div>
  </div>
</div>

