<% provide(:title, "À propos") %>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Qui sommes-nous ?</h1>
      <p>
      Code For Mali a pour objectif d'améliorer la gouverance dans notre pays en s'appuyant sur les nouvelles technologies et l'open data et en mobilisant l'énergie de citoyens volontaires et issus de divers horizons (ingénieurs, journalistes, étudiants, ONGs...).
      </p>
      <h2>Que faisons-nous ?</h2>
      <p>
        Nos actions et projets visent à :
        <ul>
          <li>augmenter la capacité des citoyens</li>
          <li>renforcer la transparence vis-à-vis dans la gestion des affaires de notre pays</li>
          <li>aider les citoyens à mieux préserser leur santé</li>
          <li>mettre à leur disposition des outils technologiques favorisant leur développement économique</li>
        </ul>
      </p>
    </div>
  </div>
</div>

