<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
	<nav>
	  <ul>
	    <li><a href="#">&copy; Code For Mali 2015</a></li>
	  </ul>
	</nav>
      </div>
    </div>
  </div>
</footer>
