<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Code for Mali", '#', id: "logo", class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
	<li><%= link_to "Accueil", '#' %></li>
	<li><%= link_to "À propos", '#' %></li>
      </ul>
    </div>
  </div>
</nav>
