$base-size:             15px;
$base-height:           1.6;

$font-weight-light:     100;
$font-weight-normal:    300;
$font-weight-semi-bold: 500;
$font-weight-bold:      900;

$blue:                  #325d88;
$black:                 rgb(51, 51, 51);

$base-font:             "Open Sans", "Avenir","Avenir", "Helvetica", "sans-serif";
