<div class="jumbotron text-center">
  <div class="container">
    <h1> Améliorez la vie de votre communauté.</h1>
    <p>Rejoins un groupe de volontaires qui mettent leur talent et leur énergie à l'amélioration de la vie de leurs communautés.</p>
    <%= link_to "Participez dès maintenant", '#', class: "btn btn-lg btn-primary" %>
  </div>
</div>

